
<html>
    <head>
        <title>Steph's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Medlar Corporation</a></h1>
        </div>

        <div>
          {{posts}}
          <QuerySet [<Post: My second post>, <Post: My first post>]>

            <!--<p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Air Freight or Cargo Shipping</a></h2>
            <p>Choose which mode of shipping depending on your business expenses and budget.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Internet at sea for shipment tracking</a></h2>
            <p>Internet is now accessible at sea, not only for leisure but also for business purposes mainly high volume and density shipment tracking</p>
-->
        </div>
    </body>
</html>
